/* GENERAL STYLES */
html {
  height: 100%;
}

body {
  font-size: 1rem;
  margin: 0 auto;
  padding: 0 auto;
  height: 100%;
}

img {
  width: 100%;
}

#desktop img, #smartphone img, #smartwatch img, #gameconsole img #sitemap img {
  padding-bottom: 2em;
}

h1 {
  font-family: 'Oswald', 'Arial', sans-serif;
  text-transform: uppercase;
  font-weight: normal;
  color: #474747;
  font-size: 1.5em;
  letter-spacing: 0.1em;
  padding-bottom: 0.25em;
  text-align: center;
}

.container-item h1 {
  text-align: left;
}

h2 {
  font-family: 'Oswald', 'Arial', sans-serif;
  font-weight: normal;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  font-size: 1.4em;
  color: #474747;
}

h3 {
  font-family: 'Source Sans Pro', 'Arial', sans-serif;
  font-weight: bold;
  font-size: 1.2em;
  color: #474747;
}

#trips > h3 {
  padding-top: 0;
  margin: 0;
  line-height: 1em;
}

#updates > h2 {
  padding-top: 0;
  margin: 0;
}

a, a:visited {
  text-decoration: none;
  color: #474747;
  -webkit-transition: color 0.5s;
  transition: color 0.5s;
}

a:hover, a:active, a:focus {
  color: #a8a8a8;
}

p, li, form, button, cite, label, .remove {
  font-family: 'Source Sans Pro', 'Arial', sans-serif;
  font-weight: 300;
  font-size: 1.2em;
  line-height: 1.5em;
}

p {
  max-width: 100%;
}

p a {
  font-weight: bolder;
}

section {
  padding-bottom: 2em;
}

div {
  padding-bottom: 1em;
}

blockquote {
  font-family: 'Source Sans Pro', 'Arial', sans-serif;
  font-weight: 400;
  font-size: 2.5em;
  margin: 0;
}

.bold {
  font-weight: bold;
}

/* TOP NAVIGATION BAR */
header {
  background: #fff;
  overflow: hidden;
  min-height: 5em;
  width: 100%;
  border-bottom: 0.15px solid #a8a8a8;
  position: relative;
  padding: 0;
  margin: 0;
}

header h1 {
  float: left;
  margin: 0;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  padding-left: 5%;
}

header h1 a, header h1 a:visited {
  font-size: 2rem;
  letter-spacing: 0.1em;
  font-family: 'Oswald', 'Arial', sans-serif;
  font-weight: normal;
}

.nav-top {
  padding-right: 5%;
  margin: 0;
}

.nav-top-links {
  float: right;
}

.nav-top a, .nav-top a:visited {
  display: inline-block;
  padding: 1.85em 0.75em 1.2em 0.75em;
  font-size: 1.2rem;
  font-family: 'Oswald', 'Arial', sans-serif;
  font-weight: normal;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  font-size: 1rem;
}

.nav-top .icon {
  display: none;
}

/* MAIN CONTENT */
#trips .main-content {
  margin-right: 16.25%;
}

.main-content {
  /* float: center; */
  margin-left: 17%;
  margin-right: 17%;
  /* margin-left: 10%;
  margin-right: 10%; */
  margin-top: 5em;
}

cite {
  display: block;
  padding-bottom: 0.5em;
}

button {
  background-color: #fff;
}

button a, button a:visited {
  color: #474747;
}

button a:hover, button a:focus, button a:active {
  color: #a8a8a8;
}

.styleguide-btn {
  align: left;
}

/* DEMO NAV BAR FOR STYLEGUIDE */
.nav-demo {
  background: #fff;
  overflow: hidden;
  width: 100%;
  border: 0.15px solid #a8a8a8;
  margin-bottom: 0.5em;
}

.nav-demo h1 {
  float: left;
  margin: 0;
  padding-top: 0.5em;
  padding-bottom: 0.1em;
  padding-left: 5%;
  font-weight: normal;
}

.nav-demo h1 a {
  font-size: 2rem;
  letter-spacing: 0.1em;
}

.nav-demo-links {
  display: inline;
  float: right;
  padding-right: 5%;
  padding-bottom: 0;
  margin-bottom: 0;
}

.nav-demo-links a, .nav-demo-links a:visited {
  display: inline-block;
  padding: 1.85em 0.75em 1em 0.75em;
  font-size: 1rem;
  font-family: 'Oswald', 'Arial', sans-serif;
  font-weight: normal;
  text-transform: uppercase;
  letter-spacing: 0.1em;
}

/* BUTTONS & FORMS */
button {
  background-color: #fff;
}

button a, button a:visited {
  color: #474747;
}

button a:hover, button a:focus, button a:active {
  color: #a8a8a8;
}

input {
  width: 100%;
  border: 0.05em solid #a8a8a8;
}

#purchase-form .container-item-1of3, .container-item-2of3, .container-item-3of3 {
  padding: 1em !important;
}

#promo-code {
  width: 15%;
}

/* Placeholder text inside form */
::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  padding: 0.25em;
  font-family: 'Source Sans Pro', 'Arial', sans-serif;
  font-weight: 400;
}

::-moz-placeholder { /* Firefox 19+ */
  padding: 0.25em;
}

:-ms-input-placeholder { /* IE 10+ */
  padding: 0.25em;
}

:-moz-placeholder { /* Firefox 18- */
  padding: 0.25em;
}

#textbox-message {
  width: 100%;
  height: 8em;
}

.submit-btn {
  float: right;
  margin-bottom: 2em;
}

.p-centered {
  text-align: center;
}

/* ABOUT PAGE */
#about .container {
  margin: 2.5em 0 2.5em 0;
  padding: 0;
}

#about img {
  /* padding: 3em 0.5em 2em 0.5em; */
  padding: 0;
  margin: 0;
}

/* PURCHASE DETAILS PAGES */
#purchase-details h3 {
  margin-top: 0;
}

.total {
  text-align: right;
}

.red {
  color: #C0392B;
}

#purchase-details .container-item-2of3 {
  background: #f2f2f2;
  padding: 1.5em 0 0 1.5em;
}

/* UPDATES PAGE */
#updates .container-item-2of3 {
  background: #f2f2f2;
  padding: 1.5em 0 0 1.5em;
}

#updates h2 {
  padding-top: 0;
  margin-top: 0;
}

#updates a, #updates a:visited {
  font-family: 'Source Sans Pro', 'Arial', sans-serif;
  text-decoration: none;
  color: #474747;
  -webkit-transition: color 0.5s;
  transition: color 0.5s;
}

#updates a:hover, #updates a:active, #updates a:focus {
  color: #a8a8a8;
}

/* FOOTER */
.wrap {
    padding: 10px;
    min-height: -webkit-calc(100% - 100px);     /* Chrome */
    min-height: -moz-calc(100% - 100px);     /* Firefox */
    min-height: calc(100% - 100px);     /* native */
}

footer {
  width: 100%;
  border-top: 0.15px solid #a8a8a8;
  padding: 0;
  /* margin-top: -50px; */
  /* height: 50px; */
  /* bottom: 0; */
}

.footer-content {
  padding-top: 1.8em;
  padding-bottom: 0.5em;
  font-family: "Source Sans Pro", "Arial", sans-serif;
  font-weight: 300;
  text-align: center;
}
