/* CSS for star retrieved from https://codepen.io/jexordexan/pen/yyYEJa & https://jsfiddle.net/mindplay/dsh53cnr/ */

.stars {
    display: inline-block;
}

.stars input {
    display: none;
}

.stars label {
    float: right;
    padding: 2px;
    font-size: 24px;
    color: #444;
    transition: all .2s;
}

.stars label:before {
    content: '\2605';
}

.stars input:checked ~ label:before {
    color: gold;
    transition: all .25s;
}

.stars label:hover {
    transform: scale(1.3);
}

.rev-box{
  overflow: hidden;
  height: 0;
  width: 100%;
  transition: all .25s;
}

textarea.review{
  background: #FAFAFA;
  border: none;
  width: 100%;
  max-width: 100%;
  height: 100px;
  padding: 10px;
  box-sizing: border-box;
  color: black;
  font-family: 'Source Sans Pro', 'Arial', sans-serif;
  font-weight: 300;
  font-size: 0.7em;
  line-height: 1.5em;
}

label.review{
  display: block;
  transition:opacity .25s;
  color: black;
}



input.star:checked ~ .rev-box{
  height: 125px;
  overflow: visible;
}
