*, *::after, *::before {
  box-sizing: border-box;
}

.container {
  display: flex;
  display: -webkit-flex;
  display: -ms-flex;

  -webkit-flex-wrap: wrap;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;

  -webkit-justify-content: space-around;
	-ms-justify-content: space-around;
	justify-content: space-around;

	margin-left: 0;
}

.container:after {
  content: "";
  display: table;
  clear: both;
}

.container-item {
	width: 33.33%;
	float: left;
}

.container-item img {
	max-width: 100%;
}

#smartwatch .container-item, #gameconsole .container-item {
  width: 50%;
  float: left;
}

/* FOR SMALLER SCREENS */
@media (max-width: 30em) {

  /* From 3 columns to 1 column */
  .container-item {
    width: 100%;
  }

  .main-content {
    margin-left: 4%;
    margin-right: 4%;
    margin-top: 0.5em;
  }

  /* Edit nav bar */
  header {
    position: relative;
  }

  .nav-top {
    float: left;
    padding-bottom: 0.01em;
  }

  .nav-top h1 {
    margin-left: 4%;
  }

  .nav-top a {
    margin: 0;
    float: left;
    padding-left: 1em;
    padding-right: 1em;
    padding-top: 0;
  }

  .nav-demo {
    float: left;
    margin-bottom: 2em;
    width: 100%;
  }

  .nav-demo h1 {
    margin-left: 0;
  }

  .nav-demo a {
    margin: 0;
    float: left;
    padding-left: 1em;
    padding-right: 1em;
    padding-top: 0;
  }

  section {
    padding: 0.2em;
  }

  #interactive-elem, #combined-elem {
    padding-top: 0.2em;
  }
}

@media (max-width: 560px) {
  .main-content {
    margin-left: 5%;
    margin-right: 5%;
  }
}
