.continents, .trips {
  position: relative;
  /* width: 50%; */
}

.productimage {
  position: relative;
  width: 100%
}

.productoverlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background-color: #FFFFFF;
}

.continents:hover .productoverlay {
  opacity: 0.7;
}

.trips:hover .productoverlay {
  opacity: 0.7;
}

.producttext {
  color: white;
  font-size: 1.2rem;
  font-family: 'Oswald', 'Arial', sans-serif;
  font-weight: normal;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}

ul {
  white-space: nowrap;
}
ul, li {
  list-style: none;
  display: inline;
}
