/* GENERAL STYLES */
body {
  font-size: 1rem;
  margin: 0 auto;
  padding: 0 auto;
}

img {
  width: 100%;
}

#desktop img, #smartphone img, #smartwatch img, #gameconsole img {
  padding-bottom: 2em;
}

h1 {
  font-family: 'Oswald', 'Arial', sans-serif;
  text-transform: uppercase;
  font-weight: normal;
  color: #474747;
  font-size: 1.5em;
  letter-spacing: 0.1em;
  padding-bottom: 0.25em;
  text-align: center;
}

.container-item h1 {
  text-align: left;
}

h2 {
  font-family: 'Oswald', 'Arial', sans-serif;
  font-weight: normal;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  font-size: 1.5em;
  color: #474747;
}

h3 {
  font-family: 'Source Sans Pro', 'Arial', sans-serif;
  font-weight: bold;
  font-size: 1.2em;
  color: #474747;
}

a, a:visited {
  text-decoration: none;
  color: #474747;
  -webkit-transition: color 0.5s;
  transition: color 0.5s;
}

a:hover, a:active, a:focus {
  color: #a8a8a8;
}

p, li, form, button, cite {
  font-family: 'Source Sans Pro', 'Arial', sans-serif;
  font-weight: 300;
  font-size: 1.2em;
  line-height: 1.5em;
}

p {
  max-width: 100%;
}

p a {
  font-weight: bolder;
}

section {
  padding-bottom: 2em;
}

div {
  padding-bottom: 1em;
}


/* TOP NAVIGATION BAR */
header {
  background: #fff;
  overflow: hidden;
  min-height: 5em;
  width: 100%;
  border-bottom: 0.15px solid #a8a8a8;
  position: fixed;
  padding: 0;
  margin: 0;
}

header h1 {
  float: left;
  margin: 0;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  padding-left: 5%;
}

header h1 a, header h1 a:visited {
  font-size: 2rem;
  letter-spacing: 0.1em;
  font-family: 'Oswald', 'Arial', sans-serif;
  font-weight: normal;
}

.nav-top {
  display: inline;
  float: right;
  padding-right: 5%;
  margin: 0;
}

.nav-top a, .nav-top a:visited {
  display: inline-block;
  padding: 1.85em 0.75em 1.2em 0.75em;
  font-size: 1.2rem;
  font-family: 'Oswald', 'Arial', sans-serif;
  font-weight: normal;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  font-size: 1rem;
}


/* INTRO */
.intro {
  margin-left: 5%;
}


/* MAIN CONTENT */
.main-content {
  float: center;
  margin-left: 17%;
  margin-right: 17%;
  margin-top: 5em;
}

cite {
  display: block;
  padding-bottom: 0.5em;
}

button {
  background-color: #fff;
}

button a, button a:visited {
  color: #474747;
}

button a:hover, button a:focus, button a:active {
  color: #a8a8a8;
}

.nav-demo {
  background: #fff;
  overflow: hidden;
  width: 100%;
  border: 0.15px solid #a8a8a8;
  margin-bottom: 0.5em;
}

.nav-demo h1 {
  float: left;
  margin: 0;
  padding-top: 0.5em;
  padding-bottom: 0.1em;
  padding-left: 5%;
  font-weight: normal;
}

.nav-demo h1 a {
  font-size: 2rem;
  letter-spacing: 0.1em;
}

.nav-demo-links {
  display: inline;
  float: right;
  padding-right: 5%;
  padding-bottom: 0;
  margin-bottom: 0;
}

.nav-demo-links a, .nav-demo-links a:visited {
  display: inline-block;
  padding: 1.85em 0.75em 1em 0.75em;
  font-size: 1rem;
  font-family: 'Oswald', 'Arial', sans-serif;
  font-weight: normal;
  text-transform: uppercase;
  letter-spacing: 0.1em;
}

/* .divider {
  border-bottom: 0.15px solid #a5a5a5;
  margin-top: 0.25em;
  margin-bottom: 0.25em;
} */
